<!DOCTYPE html>
<html>
<head>
  <title>Bhangra</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "jquery.fancybox" %>
  <%= stylesheet_link_tag "jquery.fancybox-thumbs" %>
  <link href='http://fonts.googleapis.com/css?family=Mako|Lato:100,400|Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <meta property="og:title" content="Yale Jashan Bhangra" />
  <meta property="og:type" content="company" />
  <meta property="og:url" content="http://yale.edu/bhangra" />
  <meta property="og:image" content="http://yale.edu/bhangra/assets/logo_notext.png" />
  <meta property="og:site_name" content="Yale Jashan Bhangra" />
  <meta property="fb:admins" content="651881494" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
