<!DOCTYPE html>
<html>
<head>
  <title>Bhangra</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "jquery.fancybox" %>
  <%= stylesheet_link_tag "jquery.fancybox-thumbs" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.fancybox.pack" %>
  <%= javascript_include_tag "jquery.fancybox-thumbs" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
